@font-face {
  font-family: 'Klarheit Grotesk';
  src: url('/fonts/Klarheit Grotesk Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Klarheit Grotesk';
  src: url('/fonts/Klarheit Grotesk Bold.ttf');
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Voyage';
  src: url('/fonts/Voyage-Bold.otf');
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Voyage';
  src: url('/fonts/Voyage-Regular.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: Klarheit Grotesk, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background: #f6f6f6;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

#__next {
  height: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
